body {
    box-sizing: border-box;
    font-family: "Monsterrat", san-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

ul {
    margin: 0;
}

li {

    list-style: none;
}

i {
    margin: 0 10px;
}


h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
    height: auto;
}

h1 {
    font-family: "Yeseva One", serif;

}

h2 {
    font-family: "Raleway", san-serif;

}

p {
    font-family: "Monsterrat", san-serif;
}


/* nav */
nav {
    padding: 15px 5%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.hamburger {
    display: none;

}

.logo {
    margin: 0 auto;

}


.logo img {
    width: 200px;
}



.nav-icons ul {
    padding: 0;
    display: flex;
}


.menu ul {
    display: flex;
    justify-content: space-evenly;
}

/* Body */
/* Intro Section */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/resource/images/elsa-olofsson.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.intro::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.intro>* {
    position: absolute;
}

.intro h1 {
    color: white;
    font-size: 2.3rem;
    letter-spacing: 0.4rem;
    height: auto;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    background-color: rgba(225, 225, 225, 0.3);
    text-shadow: 1px 1px gray;
    
}

.intro p {
    bottom: 20%;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
}

.intro button {
    bottom: 8%;
    background-color: palevioletred;
    border: none;
    padding:5px 10px;
    border-radius: 5px;
    color: white;
    font-weight:bold;
    text-shadow: 1px 1px rgb(87, 87, 87);
}

/* Body */
/* About Section */
.about {
    display:flex;
    margin-top:10px;
}

.company > .container {
    display: flex;
    margin: 15px 0;
}
.company img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.company .text {
    padding:  0 15px;
   
 }
.company .container > div  {
    width :50%;
}

.description img {
    height: 500px;
}

.reputation img {
    height: auto;
}

.text p:first-child {
    margin-bottom: 30px;
}

br {
    display: block;
    content: "";
    margin: 5px 0;
}

/* footer {
   
    bottom: 0
}  */

/* 

@media only screen and (max-width:827px) {

    body {
        background-color: yellow;
    }

    .hamburger {
        visibility: hidden;
    }

    .menu {
        visibility: hidden;
    }
} */